div#navbar ul li {
  padding: 20px;
  display: inline-block;
}
div#navbar ul li a {
  color: white;
  transition: 0.3s ease all;
}
div#navbar ul li a:hover {
  color: black;
}
nav.navbar.navbar-default {
  background-color: lightgray;
}

.chat-header{
  width:100%;
}
.submit-message{
  position: absolute;
  width: calc(100% - 60px);
  bottom: -138px;
  left: 0px;
  border-top: 1px solid gray;
  padding-top: 13px;
}

.message-container{
  position: relative;
  height: 400px;

}
.inner-container{
  max-height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.timestamp{
  font-size: 0.8em;
  color: lightgray;
}